---
---

/* Front matter is necessary for Jekyll */

@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 767px) {
  .navicon {
    width: 1.125em;
    height: 0.125em;
  }
  .navicon::after,
  .navicon::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: black;
    transition: all 0.25s ease-out;
  }
  .navicon::before {
    top: 5px;
  }
  .navicon::after {
    top: -5px;
  }
  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }
  .menu-btn:checked ~ .menu {
    display: block;
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    background: 0 0;
  }
  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon::after,
  .menu-btn:checked ~ .menu-icon .navicon::before {
    top: 0;
  }
}
/* purgecss ignore */
.prose img.citavipicker{
  margin-top: 0;
  margin-bottom: 0;
  display: initial;
}

.prose .work p{
  margin: 0;
}
.github img {
  margin: 0;
  display: inline;
  height: 0.7em;
  vertical-align: baseline;
}
.github {
  margin: 0;
}
