---
layout: default
---
<article class="prose max-w-none">
    <h1 class="title-font mb-4 font-medium">
        {{ page.orcData['person']['name']['given-names']['value'] }} {{
        page.orcData['person']['name']['family-name']['value'] }}
    </h1>
    {% if page.orcData['person']['researcher-urls']['researcher-url'].size > 0 %}

    <ul>
        {% for url in page.orcData['person']['researcher-urls']['researcher-url'] %}
        <li><a href="{{ url['url']['value'] }}">{{ url['url-name'] }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if page.orcData['activities-summary']['employments']['employment-summary'].size > 0 %}
    <h2>Employments:</h2>
    
    {% for item in page.orcData['activities-summary']['employments']['employment-summary'] %}
        <div>
            {% include activity.html item=item %}
        </div>
    {% endfor %}

    {% endif %}
    {% if page.orcData['activities-summary']['educations']['education-summary'].size > 0 %}
    <h2>Education:</h2>
    

    {% for item in page.orcData['activities-summary']['educations']['education-summary'] %}
        <div>           
            {% include activity.html item=item %}
        </div>
    {% endfor %}

    {% endif %}
</article>