---
layout: default
---
<div id="main" class="orc" role="main">
    <h1>{{ page.orcData['person']['name']['given-names']['value'] }} {{
        page.orcData['person']['name']['family-name']['value'] }} </h1>
    <div class="person">
        {% if page.orcData['person']['researcher-urls'] %}

        <ul>
            {% for url in page.orcData['person']['researcher-urls']['researcher-url'] %}
            <li><a href="{{ url['url']['value'] }}">{{ url['url-name'] }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if page.orcData['activities-summary']['employments'] %}
        <h2>Employments:</h2>
        <ul>

        </ul>
        {% endif %}
    </div>
</div>